{% extends "base.html" %}
{% load members_extra %}
{% block title %}Jäseneksi liittyminen vahvistettu{% endblock %}
{% block content %}
<div class="row">
    {% if token_valid %}
    <div class="span12">
        <h1>Liittymisesi DOTin jäseneksi on vahvistettu!</h1>
        <p>Olet nyt käytännössä DOTin jäsen. Sinun täytyy enää maksaa jäsenmaksu alta löytyvien ohjeiden mukaisesti.</p>
    </div>
    <div class="clear"></div>
    <div class="span6">
        <h2>Liityit jäseneksi seuraavin tiedoin</h2>
        <p>Alla on listattu ne tiedot, jotka syötit lomakkeeseen liittyessäsi jäseneksi. Mikäli tiedoissasi on virheitä, voit muuttaa niitä <a href="{% url index %}">etusivun</a> "vanha jäsen"-kohdan kautta.</p>
        <table class="table table-bordered table-hover">
            <tbody>
                {% for field in fields %}
                <tr>
                    <th>
                        {{ member|getfieldname:field|capfirst }}
                    </th>
                    <td>
                        {{ member|getfield:field }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span6">
        <h2>Maksa jäsenmaksu</h2>
        <p>Alla näät maksutiedot jäsenmaksun maksamista varten. Nämä tiedot on lähetetty myös sähköpostiisi. Mikäli maksoit jäsenmaksun käteisellä, voit ohittaa tämän vaiheen – rahastonhoitajamme kirjaa maksun maksetuksi automaattisesti.</p>
    </div>
    {% else %}
    <div class="span12">
        <h1>Liittymisen vahvistaminen epäonnistui</h1>
        <p>Voi harmi – emme pystyneet vahvistamaan liitymistäsi DOTin jäseneksi.</p>
        <p>Syynä tähän voi olla jokin seuraavista:
            <ul>
                <li>Päivitit sivun. Vahvistuslinkki toimii vain kerran, joten tästä syystä sait virheviestin. Ei hätää! Lähetimme sinulle sähköpostiin samat tiedot,
                jotka olisit nähnyt tällä sivulla, joten et menettänyt mitään.</p>
                <li>Olet jo jäsen, ja klikannut linkkiä siis aiemmin. Voit tarkistaa <a href="{% url index %}#old">etusivulta</a> kohdasta "vanha jäsen" jäsenyytesi tilan.</li>
                <li>Järjestelmässämme on bugi. Mikäli et ole jo jäsen ja sait tämän virheen, ota yhteys ylläpitoon joko irkissä kanavalla #dot @ IRCNet, tai
                lähetä sähköpostia osoitteeseen dot-hallitus@list.ayy.fi</li>
            </ul>
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}
