{% extends "base.html" %}
{% load members_extra %}
{% block title %}Jäseneksi liittyminen vahvistettu{% endblock %}
{% block content %}
<div class="row no-left-margin">
    <div class="span12">
        <h1>
        {% if token_valid %}
            Liittymisesi jäseneksi on vahvistettu!
        {% else %}
            Liittymisen vahvistaminen epäonnistui
        {% endif %}
        </h1>
    </div>
</div>
<div class="row">
    <div class="span12 content">
        <div class="row">

        {% if token_valid %}

            <div class="span12">
                <h3>Liityit jäseneksi seuraavin tiedoin</h3>
                <p>Alla on listattu ne tiedot, jotka syötit lomakkeeseen liittyessäsi jäseneksi. Mikäli tiedoissasi on virheitä, voit muuttaa niitä <a href="{% url index %}">etusivun</a> "vanha jäsen"-kohdan kautta.</p>
                <div class="row member-data">
                    {% for field in fields %}
                        <div class="span6 th">
                            {{ member|getfieldname:field|capfirst }}
                        </div>
                        <div class="span6 td">
                            {{ member|getfield:field }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="span12">
                <h3>Maksa jäsenmaksu</h3>
                <p>Alla näät maksutiedot jäsenmaksun maksamista varten. Nämä tiedot on lähetetty myös sähköpostiisi. Mikäli maksoit jäsenmaksun käteisellä, voit ohittaa tämän vaiheen – rahastonhoitajamme kirjaa maksun maksetuksi automaattisesti.</p>
            </div>

        {% else %}
        <div class="span12">
        
            <p>Voi harmi – emme pystyneet vahvistamaan liitymistäsi DOTin jäseneksi.</p>
            <p>Syynä tähän voi olla jokin seuraavista:
            <ul>
                <li><b>Päivitit sivun.</b> Vahvistuslinkki toimii vain kerran, joten tästä syystä sait virheviestin. Ei hätää! Lähetimme sinulle sähköpostiin samat tiedot,
                jotka olisit nähnyt tällä sivulla, joten et menettänyt mitään.</li>
                <li><b>Olet jo jäsen, ja klikannut linkkiä siis aiemmin.</b> Voit tarkistaa <a href="{% url index %}#old">etusivulta</a> kohdasta "vanha jäsen" jäsenyytesi tilan.</li>
                <li><b>Järjestelmässämme on bugi.</b> Mikäli et ole jo jäsen ja sait tämän virheen, ota yhteys ylläpitoon joko irkissä kanavalla #dot @ IRCNet, tai
                lähetä sähköpostia osoitteeseen dot-hallitus@list.ayy.fi</li>
            </ul>
            </p>
        </div>

        {% endif %}
        </div>
    </div>
</div>


<!--
    {% if token_valid %}
<div class="row">
    <div class="span12">
        <h1>Liittymisesi jäseneksi on vahvistettu!</h1>
        <p>Olet nyt käytännössä DOTin jäsen. Sinun täytyy enää maksaa jäsenmaksu alta löytyvien ohjeiden mukaisesti.</p>
    </div>
    <div class="clear"></div>
    <div class="span12">
        <h3>Liityit jäseneksi seuraavin tiedoin</h3>
        <p>Alla on listattu ne tiedot, jotka syötit lomakkeeseen liittyessäsi jäseneksi. Mikäli tiedoissasi on virheitä, voit muuttaa niitä <a href="{% url index %}">etusivun</a> "vanha jäsen"-kohdan kautta.</p>
        <div class="row member-data">
            {% for field in fields %}
                <div class="span6 th">
                    {{ member|getfieldname:field|capfirst }}
                </div>
                <div class="span6">
                    {{ member|getfield:field }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="span12">
        <h3>Maksa jäsenmaksu</h3>
        <p>Alla näät maksutiedot jäsenmaksun maksamista varten. Nämä tiedot on lähetetty myös sähköpostiisi. Mikäli maksoit jäsenmaksun käteisellä, voit ohittaa tämän vaiheen – rahastonhoitajamme kirjaa maksun maksetuksi automaattisesti.</p>
    </div>
</div>
{% else %}
<div class="row">
    <div class="span12">
        <h1>Liittymisen vahvistaminen epäonnistui</h1>
    </div>
</div>
<div class="row">
    <div class="span12 content">
        <p>Voi harmi – emme pystyneet vahvistamaan liitymistäsi DOTin jäseneksi.</p>
        <p>Syynä tähän voi olla jokin seuraavista:
            <ul>
                <li><b>Päivitit sivun.</b> Vahvistuslinkki toimii vain kerran, joten tästä syystä sait virheviestin. Ei hätää! Lähetimme sinulle sähköpostiin samat tiedot,
                jotka olisit nähnyt tällä sivulla, joten et menettänyt mitään.</li>
                <li><b>Olet jo jäsen, ja klikannut linkkiä siis aiemmin.</b> Voit tarkistaa <a href="{% url index %}#old">etusivulta</a> kohdasta "vanha jäsen" jäsenyytesi tilan.</li>
                <li><b>Järjestelmässämme on bugi.</b> Mikäli et ole jo jäsen ja sait tämän virheen, ota yhteys ylläpitoon joko irkissä kanavalla #dot @ IRCNet, tai
                lähetä sähköpostia osoitteeseen dot-hallitus@list.ayy.fi</li>
            </ul>
        </p>
    </div>
</div>
{% endif %}-->
{% endblock %}
