{% extends "base_content.html" %}
{% load bootstrap %}
{% load members_extra %}
{% block title %}Hei {{ member.first_name }}!{% endblock %}
{% block site_content %}
<div class="row">
    <div class="span12">
        <h3>Viimeisin jäsenmaksu</h3>
        {% if latest_invoice.paid %}
        <p>Olet maksanut tämänhetkisen jäsenmaksun ja siis virallisesti DOTin jäsen. Tämä jäsenmaksu on voimassa {{ latest_invoice.fee.start_date }} alkaen niin kauan, kunnes seuraavan vuosikokouksen päättämä uusi jäsenmaksukausi astuu voimaan.</p>
        {% else %}
            <p>Et ole maksanut tämänhetkistä jäsenmaksua. Maksutiedot löydät alta. Tämä jäsenmaksu on voimassa {{ latest_invoice.fee.start_date }} alkaen niin kauan, kunnes seuraavan vuosikokouksen päättämä uusi jäsenmaksukausi astuu voimaan.</p>
            <div class="row member-data">
                {% print_row "Saaja" "DOT ry" %}
                {% print_row "IBAN" "FI36 1309 3000 2025 49" %}
                {% print_row "BIC" "NDEAFIHH" %}
                {% print_row "Viitenumero" latest_invoice.reference_number %}
                {% print_row "Summa" latest_invoice.amount " euroa" %}
                {% print_row "" "<i>Mikäli maksat enemmän, tulkitaan ylimenevä osa lahjoitukseksi. :)</i>" %}
                {% print_row "Eräpäivä" latest_invoice.due_date %}
            </div>
        {% endif %}
        <h3>Kaikki jäsenmaksut</h3>
        <div class="row member-data">
          {% for invoice in invoices %}
            {% print_row invoice.for_year invoice.get_status_display %}
          {% endfor %}
        </div>
        <h3>Muokkaa sähköpostiosoitettasi</h3>
        <form action="" method="POST" class="form form-horizontal">
            {% csrf_token %}
            {{ email_form|bootstrap }}
            <div class="controls">
                <button type="submit" name="edit_email" class="btn btn-large">Tallenna</button>
            </div>
        </form>
        <h3>Muokkaa jäsentietojasi</h3>
        <form action="" method="POST" class="form form-horizontal">
            {% csrf_token %}
            {{ member_form|bootstrap }}
            <div class="controls">
                <button type="submit" name="edit_member" class="btn btn-large">Tallenna</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
