{% extends "base_content.html" %}
{% load bootstrap %}
{% block title %}Hei {{ member.first_name }}!{% endblock %}
{% block site_content %}
<div class="row">
    <div class="span12">
        <h3>Muokkaa sähköpostiosoitettasi</h3>
        <form action="" method="POST" class="form form-horizontal">
            {% csrf_token %}
            {{ email_form|bootstrap }}
            <div class="controls">
                <button type="submit" name="edit_email" class="btn btn-large">Tallenna</button>
            </div>
        </form>
        <h3>Muokkaa jäsentietojasi</h3>
        <form action="" method="POST" class="form form-horizontal">
            {% csrf_token %}
            {{ member_form|bootstrap }}
            <div class="controls">
                <button type="submit" name="edit_member" class="btn btn-large">Tallenna</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
