{% extends "base_content.html" %}
{% block title %}Hakemaasi sivua ei löytynyt :({% endblock %}
{% block site_content %}
<div class="row">
    <div class="span12">
        <p>Mikäli päädyit tänne linkin kautta, on hajonneesta linkistä lähtenyt automaattinen ilmoitus DOTin hallitukselle ja asia korjataan pikimmiten. Muussa tapauksessa kirjoitit todennäköisesti osoitteen väärin.</p>
        <p>Siirry <a href="http://dot.ayy.fi/">DOTin sivuille</a> tai <a href="http://dot.ayy.fi/register/">jäsenrekisterin etusivulle</a>.</p>
    </div>
</div>
{% endblock %}
