{% extends "base.html" %}
{% block content %}
    <div class="row no-left-margin">
        <div class="span12">
            <h1>{% block title %}Sivun otsikko{% endblock %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12" id="content">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><button type="button" class="close" data-dismiss="alert">×</button>{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% block site_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
