{% extends "base.html" %}
{% load bootstrap %}
{% block title %}jäsenrekisteri{% endblock %}
{% block extra_head %}
<style type="text/css">
    #content {
        background-color: transparent;
    }
</style>
<script type="text/javascript">
function show_form_errors(form, error_json)
{
    //form.find('button').popover({ title: "Virhe", content: "Korjaa virheet ja kokeile uudestaan." }).popover("show");
    clear_form_errors(form);
    for (name in error_json) {
        var elem = form.find('input[name=' + name + '], textarea[name=' + name + ']');
        elem.closest('.control-group').addClass('error');
        elem.after('<span class="help-inline">' + error_json[name] + '</span>');
    }
}

function clear_form_errors(form)
{
    form.find("span.help-inline").remove();
    form.find('.control-group').removeClass('error');
}

$(function() {
    $('#new-old-selector a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
    
    $("#join-form").submit(function() {
        $.ajax({
            url: "{% url members-join %}",
            data: $(this).serialize(),
            type: "post",
            success: function(data) {
                if(data.status == "error") {
                    show_form_errors($("#join-form"), data.errors); 
                }
                else if(data.status == "success") {
                    $("#join-form").slideUp(function() { $("#join-form-success").slideDown(); });
                }
            }
        });
        return false;
    });

});
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>Liity jäseneksi tai tarkasta jäsentietosi</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <ul class="row" id="new-old-selector">
            <li class="active span6"><a class="" href="#new">Uusi jäsen</a></li>
            <li class="span6"><a class="" href="#old">Vanha jäsen</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="span12" id="selector-content">
        <div class="tab-content">
            <div class="tab-pane active" id="new">
                <p>Voit liittyä DOTin jäseneksi täyttämällä allaolevan lomakkeen. Täytettyäsi lomakkeen saat sähköpostiisi linkin, jota sinun täytyy klikata vahvistaaksesi jäsenyytesi. Vahvistettuasi jäsenyytesi näät myös maksutiedot jäsenmaksua varten.
                <form action="" method="post" class="form-horizontal" id="join-form">
                    {% csrf_token %}                   
                    {{ member_form|bootstrap }}
                    <div class="controls">
                        <button type="submit" class="btn btn-info btn-large">Klikkaa & liity jäseneksi!</button>
                    </div>
                </form>
                <div id="join-form-success" class="form-success-box">
                    <h3>Tiedot tallennettu – käy aktivoimassa jäsenyytesi</h3>
                    <p>Lähetimme sinulle sähköpostin, joka sisältää ohjeet jäsenyyden aktivointiin. Mikäli syötit vahingossa juuri täyttämääsi lomakkeeseen väärät tiedot, ei hätää – aktivoituasi jäsenyyden pystyt muokkaamaan jäsentietoja niin halutessasi.</p>
                    <p>Saamasi sähköposti sisältää linkin, jota sinun tulee klikata aktivoidaksesi jäsenyytesi. Tämän lisäksi sinun tulee maksaa DOTin jäsenmaksu. Ohjeet jäsenmaksun maksamiseen löydät sähköpostista.</p>
                </div>
            </div>

            <div class="tab-pane" id="old">
                <p>Haluatko tarkistaa tai muokata jäsentietojasi tai tarkastaa jäsenmaksusi tilan? Syötä sähköpostiosoitteesi, jolla olet liittynyt jäseneksi, allaolevaan lomakkeeseen ja saat jäsentietosi sekä lyhytkäyttöisen linkin tietojen muokkaamiseen.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
