{% extends "base.html" %}
{% load bootstrap %}
{% block title %}jäsenrekisteri{% endblock %}
{% block extra_head %}
<script type="text/javascript">
function show_form_errors(form, error_json)
{
    clear_form_errors(form);
    for (name in error_json) {
        var elem = form.find('input[name=' + name + '], textarea[name=' + name + ']');
        elem.closest('.control-group').addClass('error');
        elem.after('<span class="help-inline">' + error_json[name] + '</span>');
    }
}

function clear_form_errors(form)
{
    form.find("span.help-inline").remove();
    form.find('.control-group').removeClass('error');
}

$(function() {
    $("#join-form").submit(function() {
        $.ajax({
            url: "{% url members-join %}",
            data: $(this).serialize(),
            type: "post",
            success: function(data) {
                if(data.status == "error") {
                    show_form_errors($("#join-form"), data.errors); 
                }
                if(data.status == "success") {
                    alert("suc");
                }
            }
        });
        return false;
    });

});
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>Liity jäseneksi tai tarkasta jäsentietosi</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vehicula dignissim pharetra. Nunc ipsum justo, ullamcorper mattis eleifend quis, vulputate elementum est. Nunc sollicitudin, erat quis fringilla volutpat, velit metus tincidunt nisl, in scelerisque est ante in elit. Sed velit nisl, ultrices non tincidunt in, volutpat quis mauris. Vivamus consequat tempus consectetur. Aliquam id ligula nec magna porta congue quis in nisi. Vestibulum tristique odio quis mauris euismod luctus. Etiam eleifend scelerisque dictum. Aenean vulputate bibendum augue aliquet ullamcorper. Nullam posuere, ante at sodales euismod, nunc eros accumsan neque, eleifend luctus justo diam id ligula. Duis nec eleifend lorem. Nulla ultricies malesuada placerat. Maecenas euismod porta ipsum at ornare. Morbi eget lacus orci.
        </p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h2>Uusi jäsen</h2>
        <form action="" method="post" class="form-horizontal" id="join-form">
            {% csrf_token %}                   
            {{ member_form|bootstrap }}
            <div class="controls">
                <button type="submit" class="btn btn-info btn-large">Klikkaa & liity jäseneksi!</button>
            </div>
        </form>

    </div>
    <div class="span12">
        <h2>Vanha jäsen</h2>
        <h3>Tarkista helposti, oletko jäsen</h3>

        <h3>Muuta jäsentietojasi</h3>
    </div>
</div>

{% endblock %}
